@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");



body {
  font-family: "Poppins", sans-serif;
  /* background-color: #f3a93d !important; */
}

html {
  scroll-behavior: smooth;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
/* background:#e8eef3 100% 100%; */
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
 font-family:; 
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  font-family: ;
}

.title {
  font-size: 3rem;
  text-align: center;
  font-family: ;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1:hover{
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
  
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}


.section__pic-container img {
  border-radius: 50%;
  width: 400px; 
  height: 400px;
  object-fit: cover; 
}






:root{
  --color-1: #2f3240;
}
body{
font-family: sans-serif;
/* background-color: #e8eef3; */
}
*{
box-sizing: border-box;
margin:0;
padding:0;
}
ul{
list-style: none;
}
a{
text-decoration: none;
}
.container{
max-width: 1170px;
margin:auto;
}
.row{
display: flex;
flex-wrap: wrap;

}
.align-items-center{
align-items: center;
}
.justify-content-between{
justify-content: space-between;
}
/*header*/
.header{
background-color: var(--color-1);
padding: 12px 0;
line-height: 1.5;
}

.header .logo,
.header .nav{
padding:0 15px;
}
.header .logo a{
font-size: 30px;
color: #ffffff;
text-transform: capitalize;
}
.header .nav ul li{
display: inline-block;
margin-left: 40px;
}
.header .nav ul li a{
display: block;
font-size: 16px;
text-transform: capitalize;
color: white;
padding: 10px 0;
transition: all 0.5s ease;
}



.nav-toggler{
height: 34px;
width: 44px;
background-color: #ffffff;
border-radius: 4px;
cursor: pointer;
border:none;
display: none;
margin-right: 15px;
}
.nav-toggler:focus{
outline: none;
box-shadow: 0 0 15px rgba(255,255,255,0.5);
}
.nav-toggler span{
  height: 2px;
  width: 20px;
  background-color: var(--color-1);
  display: block;
  margin:auto;
  position: relative;
  transition: all 0.3s ease;
}
.nav-toggler.active span{
background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after{
content: '';
position: absolute;
left:0;
top:0;
width: 100%;
height: 100%;
background-color: var(--color-1);
transition: all 0.3s ease;
}
.nav-toggler span::before{
transform: translateY(-6px);
}
.nav-toggler.active span::before{
transform: rotate(45deg);
}
.nav-toggler span::after{
transform: translateY(6px);
}
.nav-toggler.active span::after{
transform: rotate(135deg);
}
@media(max-width:1024px){
 .nav-toggler{
   display: block;
 }
 .header .nav{
   width: 100%;
   padding:0;
   max-height: 0px;
   overflow: hidden;
   visibility: hidden;
   transition: all 0.5s ease;
 }
 .header .nav.open{
   visibility: visible;
 }
 .header .nav ul{
   padding:12px 15px 0;
   margin-top: 12px;
   border-top:1px solid rgba(255,255,255,0.2);
 }
 .header .nav ul li{
   display: block;
   margin:0;
 } 
}


.header{
position: sticky;
top: 0;
width: 100%;

}

.nav a {
font-family:'Courier New', Courier, monospace;
font-weight: bold;

}

div a {
font-family:'Courier New', Courier, monospace;
font-weight: bold;
font-size: 20px;
text-transform: uppercase;
}


.nav ul li a.active {
color: #f3a93d;
}

.btn btn-color-1{
color: #f3a93d;
} 

.header .nav ul li a {
text-transform: uppercase;
}

.logo2 {
text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}


body {
  overflow-y: scroll;
}
.section__text__p1{
  opacity: 0.8;
}
.section__text__p2{
  opacity: 0.8;
}

/* .nav ul li a.active {
  color: orange;
} */
/* .nav{
  width: 100%;
} */


           /* MEDIA QUERY */

@media(max-width:350px){
  .nav{
    /* width: 100%; */
    /* padding: 0; */
    /* margin: 0; */
    /* box-sizing: border-box; */
  }
}

    @media(max-width:448px){
      .logo2{
        font-size: 20px !important;
      }

    }
@media(max-width:334px){
  .logo2{
    flex-wrap: wrap;
    flex-direction:row;
    font-size: 16px !important;
  }
} 

@media(max-width:288px){
  .logo2{
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
}


@media screen and (max-width: 1200px) {

  .section__pic-container img{
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  #profile {
    display: block;
  }
  
  section {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container{
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  
}

@media screen and (max-width: 600px) {
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  .section__pic-container{
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__pic-container img{
    /* width: auto; */
    width: 50%;
    height: 46vw;
    justify-content: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }  
}


                 /* ABOUT SECTION */

.about_me_heading {
  text-align: center;
}

.about_me_img {
  width:350px;
  height:460px;
}

.horizontal_line{
     border: none;
     height: 1px;
     background-color: black;
     background-color: rgba(0, 0, 0, 0.3);
}











